# Dependencies
node_modules

# Production
dist
build

# Logs
*.log

# Environment files
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Config files
*.config.js
